body {
  font-family: "Courier New", Courier, monospace;
  background: url("../images/Feel\ Good\ Inc.png") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: #eee;
}

h1 {
  color: #f3ef06c9;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;

  background-color: rgba(226, 30, 30, 0.3);
}

.card h1 {
  color: rgb(159, 221, 14);
}

h2 {
  color: #06f3df;
  /* background-color: #4caf50; */

  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: rgba(211, 207, 207, 0.1);
}

.header {
  text-align: center;
  padding: 20px;
}

.graphic {
  width: 150px;
  display: block;
  margin: 0 auto;
}

/* Flex container for the form and tracker */
.main-content {
  display: flex;
  justify-content: space-around;
  align-items: stretch; /* Ensures both sections are the same height */
  padding: 20px;
  margin-top: 20px;
}

.card,
.zombie-metrics {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 30px;
  width: 45%; /* Set equal width for both sections */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures even spacing inside each section */
}

/* Hover effect for the report card */
.card:hover {
  transform: translateY(-5px);
}

/* Styles for form elements */
input,
textarea {
  width: 100%;
  margin: 15px 0;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #e00909;
  border: 1px solid #555;
  transition: border 0.3s ease, background-color 0.3s ease;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.15);
  border: 1px solid #4caf50;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  margin-top: 15px;
}

button:hover {
  background-color: #388e3c;
  transform: scale(1.05);
}

/* Saved reports section */
#savedReports {
  margin-top: 30px;
  text-align: center;
  padding: 20px;
}

#reportsList {
  list-style: none;
  padding: 0;
}

#reportsList li {
  background-color: rgba(255, 255, 255, 0.75); /* White background */
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  color: #eb2a08;
}

.zombie-metrics {
  background-color: rgba(0, 0, 0, 0.7);
  color: #eee;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.zombie-metrics h2 {
  color: #ff4444;
  font-family: "Creepster", cursive;
}

.zombie-metrics p,
.zombie-metrics ul {
  font-size: 18px;
  margin: 10px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: rgba(255, 0, 0, 0.1);
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
}
